.container-compra-carrito {
  width: 100%;
  height: 40%;
}
.container-compra {
  width: 90%;
  height: 40%;
  margin: 2% auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid gray;
  border-radius: 10px;
  background-color: white;
}
.boton-compra {
  height: 60%;
  margin: 0px 15px;
  cursor: pointer;
}
.compra-icono {
  width: 100%;
  height: 100%;
}
.container-compra p {
  color: pink;
}
.carrito {
  height: 40%;
  text-transform: uppercase;
  color: blue;
  font-size: 10px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
